@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin-ext');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: #ddd4bc;
}

/*GLOBAL*/

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    /*border: 1px dashed black;*/
}

.center-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*LOGO/WEJŚCIE*/

.mainBar {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin-right: 60px;
    position: relative;
}

.mainBar-anchor {
    text-decoration: none;
    font-size: 48px;
    line-height: 48px;
    color: #3d3c3a;
    transition: opacity .5s;
}

.mainBar-bold {
    font-weight: 700;
    color: #707070;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.mainBar-anchor:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
}

.mainBar:hover .mainBar-anchor:nth-child(2) {
    opacity: 1;
}

.mainBar:hover .mainBar-anchor {
    opacity: 0;
}

/*MENU*/

.mainMenu {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    /*border: 1px solid orangered;*/
    min-height: 50px;
}

.mainMenu-item {
    /*border: 1px solid blue;*/
    display: inline-block;
    padding: 0 16px;
}

.mainMenu-item:last-child {
    margin-right: 60px;
    padding-right: 0;
}

.mainMenu-anchor {
    text-decoration: none;
    font-size: 48px;
    color: #3d3c3a;
    display: block;
    transition: color .3s;
}

.mainMenu-anchor:hover {
    color: #707070;
}